*.ipynb_checkpoints
*.pyc
*.pyo
__pycache__

*.zip
*.tar
*.gz

*.wav
*.mp3
*.hdf5


dataset/**
TrainAudioFiles/
TestAudioFiles/
sample_submission.csv
papers/**

*.hdf5
*.h5  
*.json
*.log
*/submission1.csv

